{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
  <div class="not-found-page">
    <div class="not-found-page__inner">
      <h1 class="not-found-page__title">
        <span class="not-found-page__number">404</span>
        <span class="not-found-page__text not-found-page__text--ru">Такой страницы нет</span>
        <span class="not-found-page__text not-found-page__text--en">Page not found</span>
      </h1>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  {{ encore_entry_script_tags('index') }}
{% endblock %}