{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
  <div class="faq-page">
    <div class="faq-page__inner">
      <div class="faq-page__subtitle">Информация</div>
      <h1 class="faq-page__title">
        Частые вопросы
      </h1>
      <div class="faq-page__accordion faq-accordion">
        <div class="faq-accordion__item">
          <div class="faq-accordion__header">
            Правила посещения фан-зон
          </div>
          <div class="faq-accordion__text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, dignissimos dolore eius eum iusto maiores
              maxime molestias natus obcaecati officia sunt temporibus velit vitae. Accusantium distinctio doloremque
              doloribus explicabo inventore ipsum laborum nostrum officiis, quaerat quidem reiciendis repudiandae
              tenetur vel vero voluptates! Asperiores assumenda doloremque eveniet nam quis repudiandae veritatis.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam atque cum labore laboriosam
              nihil ut voluptatibus? Beatae hic illo natus quae quisquam, quos temporibus.
            </p>
          </div>
        </div>
        <div class="faq-accordion__item">
          <div class="faq-accordion__header">
            В чем смысл жизни?
          </div>
          <div class="faq-accordion__text">
            J_J
          </div>
        </div>
        <div class="faq-accordion__item">
          <div class="faq-accordion__header">
            Со мной на фестиваль хочет пойти моя собака, могу ли я взаять еще и жену?
          </div>
          <div class="faq-accordion__text">
            ▓▒░(°◡°)░▒▓
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  {{ encore_entry_script_tags('index') }}
{% endblock %}