version: '3.7'

services:
  app_cli:
    command: "/bin/bash -c 'while true; do sleep 30; done;'"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:4.8
    environment:
      PMA_HOST: database
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - 8765:80

networks:
  default:
    driver: bridge