<div class="promo">
  <div class="promo__inner">

    {% if slides|length > 0 %}
      <div class="promo__slider background-slider">
        <div class="background-slider__nav">
          <button type="button" class="background-slider__nav-btn background-slider__prev-btn">
            <svg class="background-slider__icon">
              <use xlink:href="#arrow-left"></use>
            </svg>
          </button>
          <div class="background-slider__name">{# Set in js #}</div>
          <button type="button" class="background-slider__nav-btn background-slider__next-btn">
            <svg class="background-slider__icon">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </button>
        </div>

        <div class="background-slider__track">
          {% for slide in slides %}
            <div data-artist-name="{{ slide.title }}" class="background-slider__slide">
              <div class="background-slider__container">
                <img
                  src="{% path slide.picture, 'reference' %}"
                  alt="{{ slide.title }}"
                  class="background-slider__img">
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <div class="promo__socials socials">
      <a href="#" class="socials__link" title="Vkontakte">
        <svg class="socials__icon" width="33" height="21">
          <use xlink:href="#icon-vk"></use>
        </svg>
      </a>
      <a href="#" class="socials__link" title="Facebook">
        <svg class="socials__icon" width="15" height="32">
          <use xlink:href="#icon-fb"></use>
        </svg>
      </a>
      <a href="#" class="socials__link" title="Youtube">
        <svg class="socials__icon" width="33" height="27">
          <use xlink:href="#icon-youtube"></use>
        </svg>
      </a>
    </div>

    <div class="promo__start-timer start-timer">
      <div class="start-timer__text">{{ 'text.days.left'|trans({}, 'site') }}</div>
      <div class="start-timer__date">255</div>
      <div class="start-timer__postfix">дней</div>
    </div>
  </div>
</div>