<header
  class="page-header">

  <div
    class="page-header__inner">

    <a
      href="#"
      class="page-header__lang">
      En
    </a>

    <a
      href="#"
      class="logo">

      <img
        src="https://via.placeholder.com/150"
        alt="Рок над волгой: логотип">
    </a>

    <div
      class="page-header__main-nav">
      {{ include('blocks/main_nav.html.twig') }}
    </div>
  </div>
</header>