<header class="page-header {{ app.request.requestUri == '/' ? '' : 'page-header--inner-page' }}">
  <div class="page-header__inner">

    <button class="page-header__menu-toggler menu-toggler"><span></span></button>

    {% if app.request.locale == 'en' %}
      <a href="/" class="page-header__lang">Ru</a>
    {% else %}
      <a href="/en/" class="page-header__lang">En</a>
    {% endif %}

    {# or a tag on inner pages #}
    <div class="page-header__logo">
      <picture>
        <source media="(max-width: 1023px)" srcset="{{ asset('build/assets/images/logo-small.svg') }}">
        <img
          src="{{ asset('build/assets/images/logo.svg') }}"
          alt="logo">
      </picture>
    </div>

    <div class="page-header__main-nav">
      {{ include('blocks/main_nav.html.twig') }}
    </div>
  </div>
</header>