<ul
  class="main-nav">

  <li
    class="main-nav__item">

    <a
      href="#"
      class="main-nav__link">
      Билеты
    </a>
  </li>

  <li
    class="main-nav__item">

    <a
      href="#"
      class="main-nav__link">
      Площадка
    </a>
  </li>

  <li
    class="main-nav__item">

    <a
      href="#"
      class="main-nav__link">
      Фан-зона
    </a>
  </li>

  <li
    class="main-nav__item">

    <a
      href="#"
      class="main-nav__link">
      История
    </a>
  </li>

  <li
    class="main-nav__item">

    <a
      href="#"
      class="main-nav__link">
      Инфо
    </a>
  </li>
</ul>