@background-slider-nav-max-width-default: 75%;

@background-slider-nav-btn-width-default: 93px;

@background-slider-nav-gap-left-default: 50px;
@background-slider-nav-position-left-default: @background-slider-nav-gap-left-default + @container-padding-default;

@background-slider-text-width-default: calc(100% - @background-slider-nav-btn-width-default * 2);

.background-slider {
  position: relative; // for .background-slider__nav

  &__track {
    width: 100%;
    height: 100%;
  }

  &__slide {
    position: relative; // for .background-slider__img
    width: 100%;
    height: 100%;
  }

  .background-slider__container { // required for correct nav position which is set in js
    .container-fluid();
  }

  &__img {
    position: absolute; // base on .background-slider__slide
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    .textTruncate(@background-slider-text-width-default);
    padding: 0 25px;
    font-size: 90px;
    font-weight: 800;
    color: @white;
    text-align: center;
  }

  &__nav {
    position: absolute;
    left: @background-slider-nav-position-left-default;
    bottom: 50px;
    display: flex;
    align-items: center;
    z-index: 10;
    max-width: @background-slider-nav-max-width-default;
  }

  &__nav-btn {
    width: @background-slider-nav-btn-width-default;
    height: 26px;
    .button-reset();
    color: @white;
  }

  &__icon {
    width: 93px;
    height: 26px;
  }

  // Re-styling slick slider
  .slick-list,
  .slick-track,
  .slick-slide,
  .slick-slide > div {
    width: 100%;
    height: 100%;
  }
}