.lineup {
  position: relative;
  background: @cod-gray;
  color: @white;

  &__inner {
    .container-fluid();
    display: flex;
    height: 100vh;
    min-height: 730px;
    overflow-x: auto;

    @media (max-width: @screen-md-max) {
      flex-wrap: wrap;
      height: auto;
      min-height: 0;
    }
  }

  &__header {
    display: flex;
    align-items: flex-end;
    order: -1;
    width: 100%;
    padding-top: 100px;

    @media (max-width: @screen-sm-max) {
      padding-top: 60px;
    }

    @media (min-width: @screen-lg) {
      display: none;
    }
  }

  &__column-left {
    padding-top: 115px;
    width: 41.65%;

    @media (max-width: @screen-md-max) {
      order: 2;
      width: 100%;
    }

    @media (max-width: @screen-sm-max) {
      padding-top: 40px;
    }
  }

  &__column-right {
    padding-top: 105px;
    padding-left: 30px;
    width: 58.35%;

    @media (max-width: @screen-md-max) {
      padding-top: 36px;
      padding-left: 0;
      width: 100%;
    }
  }

  &__title {
    position: relative; // for title text
    margin: 0 0 200px;
    font-size: 90px;

    @media (max-width: @screen-lg-max) {
      font-size: 76px;
    }

    @media (max-width: @screen-md-max) {
      margin-bottom: 0;
      flex-shrink: 0;
      width: 50%;
      line-height: 1;
    }

    &--hidden-md {
      display: none;

      @media (min-width: @screen-lg) {
        display: block;
      }
    }
  }

  &__title-text {
    position: absolute;
    left: 0.3em;
    top: 0.8em;
    font-weight: 800;
    z-index: 1; // over year
    .textTruncate();

    @media (max-width: @screen-md-max) {
      position: relative;
      top: 0.2em;
      line-height: 1;
    }

    @media (max-width: @screen-sm-max) {
      font-size: 30px;
    }
  }

  &__year {
    color: @color-main;
    font-size: 180px;
    line-height: 0.8;
    font-weight: 900;
    font-style: italic;

    @media (max-width: @screen-lg-max) {
      font-size: 160px;
    }

    @media (max-width: @screen-md-max) {
      position: absolute;
      top: -0.4em;
      font-size: 126px;
    }

    @media (max-width: @screen-sm-max) {
      font-size: 50px;
    }
  }

  &__year-decade {
    display: block;
    padding-left: 0.5em;

    @media (max-width: @screen-md-max) {
      display: inline;
      padding-left: 0;
    }
  }

  &__text-block {
    width: 95%;

    + .lineup__text-block {
      margin-top: 200px;

      @media (max-width: @screen-md-max) {
        margin-top: 100px;
      }
    }

    &--has-link {

      .lineup__subtitle-icon {
        display: block;
      }
    }

    &:first-child {

      @media (max-width: @screen-sm-max) {

        .lineup__subtitle-number {
          color: @base-blue;
        }
      }
    }
  }

  &__subtitle {
    position: relative; // for subtitle-text
    display: block;
    margin: 0 0 30px;
    color: @white;
    text-decoration: none;
  }

  &__subtitle-text {
    position: absolute;
    left: 20px;
    bottom: -25px;
    font-size: 60px;
    font-weight: 800;
    .textTruncate();

    @media (max-width: @screen-lg-max) {
      bottom: -10px;
      font-size: 46px;
    }

    @media (max-width: @screen-sm-max) {
      bottom: -16px;
      font-size: 30px;
    }
  }

  &__subtitle-wrap {
    position: relative; // for subtitle-icon
    display: inline-block;
    vertical-align: middle;
  }

  &__subtitle-number {
    font-size: 180px;
    color: @color-main;
    font-weight: 900;
    font-style: italic;
    line-height: 0.8;

    @media (max-width: @screen-sm-max) {
      font-size: 50px;
    }
  }

  &__subtitle-icon {
    display: none;
    position: absolute;
    top: 50%;
    right: -120px;
    width: 170px;
    height: 26px;

    @media (max-width: @screen-sm) {
      width: 112px;
      height: 17px;
      top: 4px;
      right: -126px;
    }
  }

  &__description {
    line-height: 1.6;
    font-size: 15px;
  }

  &__date {
    margin-bottom: 90px;
    font-size: 60px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;

    @media (max-width: @screen-lg-max) {
      margin-bottom: 70px;
      font-size: 46px;
    }

    @media (max-width: @screen-md-max) {
      margin-bottom: 0;
      width: 50%;
      flex-shrink: 0;
      padding-left: 25px;
      font-size: 60px;
      color: @base-blue;
      line-height: 1;
      text-transform: none;
    }

    @media (max-width: @screen-sm-max) {
      margin-bottom: -0.2em;
      font-size: 30px;
      padding-left: 0;
    }

    &--hidden-md {

      @media (max-width: @screen-md-max) {
        display: none;
      }
    }
  }
}