$link-font-size: 20px;
$link-color: $white;

.main-nav {
  margin: 0;
  padding: 0;
  
  &__link {
    font-size: $link-font-size;
    font-weight: 800;
    font-style: italic;
    text-decoration: none;
    color: $link-color;
  }
}