.place-info {
  position: relative;
  padding-top: 95px;
  padding-bottom: 200px;
  background: @cod-gray;
  color: @white;

  &__inner {
    .container-fluid();
    display: flex;
  }

  &__column {
    width: 50%;
  }

  &__column-left {
    padding-right: 50px;
  }

  &__column-right {
    padding-left: 17px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 36px;
    font-size: 30px;
    font-weight: 800;
  }

  &__description {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.7;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }

    p + p {
      margin-top: 25px;
    }
  }
  
  &__card-link {
    position: relative;
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: @white;
    text-decoration: none;
  }

  &__tabs-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;
  }

  &__tabs-btn {
    .button-reset();
    position: relative;
    font-size: 18px;
    color: @white;
    padding: 10px 25px;
    z-index: 5;
    font-weight: 600;

    + .place-info__tabs-btn {
      margin-right: 20px;
    }

    &::after {
      display: none;
      position: absolute;
      top: 0;
      left: 50%;
      content: '';
      width: 94%;
      height: 100%;
      background: @color-main;
      z-index: -1;
      transform: translate(-50%) skew(-45deg);
    }

    &--active {

      &::after {
        display: block;
      }
    }
  }

  &__tabs-content {
    font-size: 15px;
    line-height: 1.66;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }

    p + p,
    p + ul,
    p + ol,
    ul+ p,
    ol + p {
      margin-top: 25px;
    }
  }
}