.program {
  color: @white;

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 900;
    font-style: italic;
    font-size: 60px;
    text-transform: uppercase;

    @media (max-width: @screen-lg-max) {
      font-size: 54px;
    }

    @media (max-width: @screen-md-max) {
      font-size: 48px;
    }
  }

  &__item {
    display: flex;
    padding-top: 15px;

    + .program__item {
      margin-top: 50px;
    }
  }

  &__time {
    flex-shrink: 0;
    width: 86px;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2;
  }

  &__img {
    position: relative;
    top: -15px;
    flex-shrink: 0;
    width: 167px;
    height: auto;
  }

  &__description {
    margin-left: 35px;
  }

  &__item-title {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 800;
  }

  &__item-text {
    width: 80%;
    font-size: 15px;
    line-height: 1.66;
  }
}