.route {

  &__title {
    margin-top: 0;
    margin-bottom: 36px;
    font-size: 30px;
    font-weight: 800;

    @media (max-width: @screen-md-max) {
      margin-bottom: 22px;
    }

    @media (max-width: @screen-sm-max) {
      font-size: 26px;
    }
  }

  .route__tabs-header.route__tabs-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;
    list-style: none;

    @media (max-width: @screen-xs-max) {
      padding: 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .route__link-wrap.route__link-wrap { // override
    position: relative; // for before

    &::before {
      display: none;
      position: absolute;
      top: 0;
      left: 50%;
      content: '';
      width: 95%;
      height: 100%;
      background: @color-main;
      z-index: 1;
      transform: translate(-48%) skew(-45deg);

      @media (max-width: @screen-sm-max) {
        transform: translate(-46%) skew(-45deg);
      }
    }

    &--active {

      &::before {
        display: block;
      }
    }
  }

  &__tabs-link {
    display: block;
    position: relative;
    font-size: 18px;
    color: @white;
    padding: 6px 25px;
    z-index: 5;
    font-weight: 600;
    text-decoration: none;

    @media (max-width: @screen-lg-max) {
      font-size: 16px;
    }

    @media (max-width: @screen-xs-max) {
      max-width: 320px;
    }

    + .route__tabs-link {
      margin-right: 20px;

      @media (max-width: @screen-xs-max) {
        margin-right: 0;
        margin-top: 20px;
      }
    }
  }

  &__content-item {
    display: none;

    &--active {
      display: block;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 15px;
      line-height: 1.66;

      @media (max-width: @screen-sm-max) {
        font-size: 14px;
      }
    }

    p + p,
    p + ul,
    p + ol,
    ul + p,
    ol + p {
      margin-top: 25px;
    }
  }
}