.socials {

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: @white;

    + .socials__link {
      margin-top: 35px;
    }
  }
}