.tabs {

  .route {
    margin-top: 43px;
  }

  &__column-left {
    width: 41.66%;
    padding-top: 20px;
  }

  &__column-right {
    width: 58.34%;
    padding-left: 20px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 36px;
    font-size: 30px;
    font-weight: 800;

    @media (max-width: @screen-sm-max) {
      font-size: 26px;
    }
  }

  .tabs__links { // for specificity
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 10px;
    list-style: none;

    @media (max-width: @screen-xs-max) {
      padding: 0;
      flex-direction: column;
      align-items: flex-start;
    }

    &--large {
      margin-bottom: 55px;
      padding: 0 40px;

      .tabs__link {
        padding: 27px 50px;
        font-size: 30px;
      }
    }
  }

  .tabs__link-wrap.tabs__link-wrap { // ugly override for default ul styles
    position: relative; // for before

    &::before {
      display: none;
      position: absolute;
      top: 0;
      left: 50%;
      content: '';
      width: 95%;
      height: 100%;
      background: @color-main;
      z-index: 1;
      transform: translate(-49%) skew(-45deg);
    }

    + .tabs__link-wrap {
      margin-left: 36px;
    }

    &--active {

      &::before {
        display: block;
      }
    }
  }

  &__link {
    position: relative; // for z-index
    display: block;
    font-size: 18px;
    color: @white;
    padding: 10px 25px;
    z-index: 5;
    font-weight: 600;
    text-decoration: none;

    @media (max-width: @screen-lg-max) {
      font-size: 16px;
    }

    @media (max-width: @screen-xs-max) {
      max-width: 320px;
    }

    + .tabs__link {
      margin-right: 20px;

      @media (max-width: @screen-xs-max) {
        margin-right: 0;
        margin-top: 20px;
      }
    }
  }

  &__content-item {
    display: none;
    font-size: 15px;
    line-height: 1.66;

    @media (max-width: @screen-sm-max) {
      font-size: 14px;
    }

    &--active {
      display: flex;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 18px;
    }

    p + p,
    p + ul,
    p + ol,
    ul + p,
    ol + p {
      margin-top: 35px;
    }
  }
}
