.page-header {

  &__inner {
    display: flex;
    .container();
  }

  &__lang {
    font-size: 20px;
    color: @white;
    font-weight: 800;
    font-style: italic;
    text-decoration: none;
  }

  &__logo {
    position: relative;
    top: -30px;
    left: -40px;
    width: 500px;
    height: 500px;
  }

  &__lang {
    margin-top: 30px;
  }
}