.page-header {
  position: absolute; // base on first page block
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &__inner {
    position: relative; // for .page-header__logo
    display: flex;
    justify-content: space-between;
    .container-fluid();
  }

  &__lang {
    margin-top: @main-nav-padding-top + @main-nav-link-padding;
    font-size: 20px;
    color: @white;
    font-weight: 800;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1; // over .page-header__logo

    @media (max-width: @screen-lg-max) {
      margin-top: 20px;
      font-size: 14px;
    }
  }

  &__logo {
    position: absolute; // base on .page-header
    top: -73px;
    left: 0;
    width: 500px;
    height: 500px;

    @media (max-width: @screen-lg-max) {
      top: -50px;
      width: 370px;
      height: 370px;
    }
  }
}